#nav{
    background-color: lightskyblue;
}
#image{
    height: 40px;
    width: 75px;
    margin-left: 10px;
    margin-top: 10px;
}
h1,h4{
    text-align: center;
}
h2{
    text-decoration: gray underline dotted 3px;
}
#telegram{
    background-color: rgb(48, 139, 196);
}
#carousal{
    width: 100%;
}
#home{
      background-color:whitesmoke;
      width: 100%;
  }
  
#button{
    color:black;
    background-color:rgb(48, 139, 196);
    border-radius: 7px;
    text-align: center;
    width:70%
}
#event{
    font-size: 13px;
    background-color: rgb(223, 223, 223);
}
#teachers{
background:rgba(245, 244, 244, 0.76);
padding: 50px;
box-shadow: grey 20px solid;
}
p{
    font-weight: bold;
}
table{
    height: 100px;
    width: 150px;
    border-width: 5px;
    padding: 15px 15px 15px 15px;
    margin: 0 auto;
    font-size: 20px;
    font-weight: bold;
}
footer{
    width: 280px;
    height: 55px;
}
footer{
    background-color: lightskyblue;
    width: 100%;
}
